In [489]:
import pandas as pd 
import numpy as np

## Partie 1 : scraping sur imdb des 250 meilleurs films

## partie 2a :
### 1 Transformer la durée en minutes 
### 2 - Type et acteur en liste 
### 3 - Vérifier les doublons etc ...

In [490]:
imdb = pd.read_csv("data_csv.csv")
imdb.head()

,title,date,public,duration,note,synopsis,genre,actors,Origin language,Origin country,Origin title,movie cost
0,Alien - Le 8ème passager,1979,12,"1,h, ,57,m",8.4,After a space merchant vessel receives an unkn...,"Horror,Sci-Fi","Sigourney Weaver,Tom Skerritt,John Hurt,Veroni...",English,"United Kingdom,United States",Original title: Alien,"$11,000,000 (estimated)"
1,Memento,2000,Tous publics,"1,h, ,53,m",8.4,A man with short-term memory loss attempts to ...,"Mystery,Thriller","Guy Pearce,Carrie-Anne Moss,Joe Pantoliano,Mar...",English,United States,NaN,"$9,000,000 (estimated)"
2,Fenêtre sur cour,1954,Tous publics,"1,h, ,52,m",8.5,A wheelchair-bound photographer spies on his n...,"Mystery,Thriller","James Stewart,Grace Kelly,Wendell Corey,Thelma...",English,United States,Original title: Rear Window,"$1,000,000 (estimated)"
3,Le Dictateur,1940,Tous publics,"2,h, ,5,m",8.4,Dictator Adenoid Hynkel tries to expand his em...,"Comedy,Drama,War","Charles Chaplin,Paulette Goddard,Jack Oakie,Re...","English,Esperanto",United States,Original title: The Great Dictator,"$2,000,000 (estimated)"
4,Les Aventuriers de l'arche perdue,1981,Tous publics,"1,h, ,55,m",8.4,"In 1936, archaeologist and adventurer Indiana ...","Action,Adventure","Harrison Ford,Karen Allen,Paul Freeman,John Rh...","English,German,Hebrew,Spanish,Arabic,Nepali",United States,Original title: Raiders of the Lost Ark,"$18,000,000 (estimated)"

In [491]:
# D'abord je trie  : 
# Je supprime tout les non digits du coût du film. (Pour la question bonus de fin) 
imdb['movie cost'] = imdb.loc[:,'movie cost'].replace(regex=r'\D+', value="")
imdb['movie cost']

0       11000000
1        9000000
2        1000000
3        2000000
4       18000000
         ...
245    160000000
246       350000
247    185000000
248      6000000
249     13000000
Name: movie cost, Length: 250, dtype: object

In [492]:
# Pour supprimer les doublons on peut utiliser imdb.drop_duplicates()
# Shape permet de voir le nombre de lignes et de colonnes. 
# Ici j'ai bien 250 films je n'ai pas besoin de la fonction

# Je trie la colonne durée
imdb['duration'] = imdb.loc[:,'duration'].replace(regex=r",", value="").replace(regex=r" ", value="").replace(regex=r"m", value="")
imdb['duration']

0      1h57
1      1h53
2      1h52
3       2h5
4      1h55
       ...
245    2h28
246    1h36
247    2h32
248    2h55
249    3h22
Name: duration, Length: 250, dtype: object

In [493]:

# Ma fonction pour changer ma colonne heure en minute :

def to_minute(formatted_str):
    for i,j in formatted_str.items():
        if len(j) > 2  :
            cache = j.split("h")
        formatted_str[i] = (int(cache[0]) * 60 + int(cache[1])) 
    return formatted_str
to_minute(imdb['duration'])

# # Puis transforme la colonne durée en int pour avoir des données en int dans mon Datafram 

imdb['duration'] = pd.to_numeric(imdb['duration'])

C:\Users\APPREN~1\AppData\Local\Temp/ipykernel_14844/1734470850.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  formatted_str[i] = (int(cache[0]) * 60 + int(cache[1]))

In [494]:
# Je sais récupéré des listes de chaque cellules en printant list_xxx

actor_data =  imdb['actors']
list_actors = []
for i in actor_data:
    for j in i.split(","):
        list_actors.append(j)

category_data = imdb["genre"]
list_category = []
for i in category_data:
    for j in i.split(','):
        list_category.append(j)

language_data = imdb['Origin country']
list_language = []
for i in language_data:
    for j in i.split(','):
        list_language.append(j)

## Partie 2b :

### 1 - Quel est le film le plus long ?

In [495]:
# Methode 1 :  
a = imdb["duration"] == imdb['duration'].max()
imdb[a]

,title,date,public,duration,note,synopsis,genre,actors,Origin language,Origin country,Origin title,movie cost
42,Gangs of Wasseypur,2012,Tous publics avec avertissement,321,8.2,A clash between Sultan and Shahid Khan leads t...,"Action,Comedy,Crime,Drama,Thriller","Manoj Bajpayee,Richa Chadha,Nawazuddin Siddiqu...",Hindi,India,NaN,184000000

In [496]:
# Méthode 2 : 
film_le_plus_long = imdb.sort_values(by = "duration", ascending = False )[0:]
film_le_plus_long[0:1]
# Reponse 1 : le film le plus long est "Gangs of Wasseypur"

,title,date,public,duration,note,synopsis,genre,actors,Origin language,Origin country,Origin title,movie cost
42,Gangs of Wasseypur,2012,Tous publics avec avertissement,321,8.2,A clash between Sultan and Shahid Khan leads t...,"Action,Comedy,Crime,Drama,Thriller","Manoj Bajpayee,Richa Chadha,Nawazuddin Siddiqu...",Hindi,India,NaN,184000000

### 2 - Quels sont les 5 films les mieux notés ?

In [497]:
top_5 = imdb.sort_values(by = "note", ascending = False ).iloc[0:5]
top_5 
# Les 5 meilleurs films sont : Jai Bhim ; Les évadés ; Le parrain ; Soorarai Pottru ; The Dark Knight : Le Chevalier noir

,title,date,public,duration,note,synopsis,genre,actors,Origin language,Origin country,Origin title,movie cost
160,Jai Bhim,2021,NaN,164,9.5,When a tribal man is arrested for a case of al...,"Crime,Drama","Suriya,Lijo Mol Jose,Manikandan,Rajisha Vijaya...",Tamil,India,NaN,NaN
7,Les Évadés,1994,Tous publics,142,9.3,Two imprisoned men bond over a number of years...,Drama,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",English,United States,Original title: The Shawshank Redemption,25000000
248,Le Parrain,1972,12,175,9.2,The Godfather follows Vito Corleone Don of the...,"Crime,Drama","Marlon Brando,Al Pacino,James Caan,Diane Keato...","English,Italian,Latin",United States,Original title: The Godfather,6000000
17,Soorarai Pottru,2020,18,153,9.1,"Nedumaaran Rajangam ""Maara"" sets out to make t...",Drama,"Suriya,Paresh Rawal,Aparna Balamurali,Gaurav P...","Tamil,Hindi",India,NaN,150000000
249,"Le Parrain, 2ᵉ partie",1974,13,202,9.0,The early life and career of Vito Corleone in ...,"Crime,Drama","Al Pacino,Robert De Niro,Robert Duvall,Diane K...","English,Italian,Spanish,Latin,Sicilian",United States,Original title: The Godfather: Part II,13000000

### 3 - Dans combien de films à joué Morgan Freeman ? et Tom Cruise ?

In [498]:
# La methodes plus adéquate ? 
a = imdb[imdb['actors'].str.contains("Morgan Freeman")]
b = imdb[imdb.loc[:,'actors'].str.contains("Tom Cruise")]
a.shape

(7, 12)

In [499]:
# L'autre méthode : 
# fonctions pour compter les nombre de films par personnage

def actor_count(star, liste):
    count = 0 
    for i in liste:
        if star in str(i) :
            count +=1 
    return count

In [500]:
a = actor_count("Morgan Freeman", imdb['actors'] )    
b = actor_count("Tom Cruise", imdb['actors'] )  
print(f"Réponse 3 : Morgan Freeman a jouer dans {a} films et Tom Cruise a jouer dans {b} films. ")

Réponse 3 : Morgan Freeman a jouer dans 7 films et Tom Cruise a jouer dans 0 films.

### 4 - Quels sont les 3 meilleurs films d'horreur ? Dramatique ? Comique ?

In [501]:
horror_top3 = imdb[imdb.loc[:,'genre'].str.contains("Horror")].sort_values(by = "note").iloc[0:3]
horror_top3
# Voici les 3 meilleurs films d'horreur

,title,date,public,duration,note,synopsis,genre,actors,Origin language,Origin country,Origin title,movie cost
104,The Thing,1982,13,109,8.1,A research team in Antarctica is hunted by a s...,"Horror,Mystery,Sci-Fi","Kurt Russell,Wilford Brimley,Keith David,Richa...","English,Norwegian","United States,Canada",NaN,15000000
0,Alien - Le 8ème passager,1979,12,117,8.4,After a space merchant vessel receives an unkn...,"Horror,Sci-Fi","Sigourney Weaver,Tom Skerritt,John Hurt,Veroni...",English,"United Kingdom,United States",Original title: Alien,11000000
201,Shining,1980,12,146,8.4,A family heads to an isolated hotel for the wi...,"Drama,Horror","Jack Nicholson,Shelley Duvall,Danny Lloyd,Scat...",English,"United Kingdom,United States",Original title: The Shining,19000000

In [502]:
drama_top3 = imdb[imdb.iloc[:,6].str.contains("Drama")].sort_values(by = "note").iloc[0:3]
drama_top3 
# Voici les 3 meilleurs films Dramatique

,title,date,public,duration,note,synopsis,genre,actors,Origin language,Origin country,Origin title,movie cost
57,Stand by Me : Compte sur moi,1986,Tous publics,89,8.1,"After the death of one of his friends, a write...","Adventure,Drama","Wil Wheaton,River Phoenix,Corey Feldman,Jerry ...",English,United States,Original title: Stand by Me,8000000
74,Persona,1966,Tous publics,85,8.1,A nurse is put in charge of a mute actress and...,"Drama,Thriller","Bibi Andersson,Liv Ullmann,Margaretha Krook,Gu...","Swedish,English",Sweden,NaN,NaN
73,Mary et Max.,2009,Tous Public,92,8.1,A tale of friendship between two unlikely pen ...,"Animation,Comedy,Drama,Family","Toni Collette,Philip Seymour Hoffman,Eric Bana...","English,Yiddish","Australia,United States",Original title: Mary and Max.,8240000

In [503]:
comedy_top3 = imdb[imdb['genre'].str.contains("Comedy")].sort_values(by = "note").iloc[0:3]
comedy_top3
# Voici les 3 meilleurs films Comique

,title,date,public,duration,note,synopsis,genre,actors,Origin language,Origin country,Origin title,movie cost
90,Vice-versa,2015,Tous publics,95,8.1,After young Riley is uprooted from her Midwest...,"Animation,Adventure,Comedy,Drama,Family,Fantas...","Amy Poehler,Bill Hader,Lewis Black,Mindy Kalin...","English,Portuguese",United States,Original title: Inside Out,175000000
97,The Truman Show,1998,Tous publics,103,8.1,An insurance salesman discovers his whole life...,"Comedy,Drama","Jim Carrey,Ed Harris,Laura Linney,Noah Emmeric...",English,United States,NaN,60000000
88,Le Monde de Nemo,2003,Tous publics,100,8.1,After his son is captured in the Great Barrier...,"Animation,Adventure,Comedy,Family","Albert Brooks,Ellen DeGeneres,Alexander Gould,...",English,United States,Original title: Finding Nemo,94000000

### 5 - Parmi les 100 films les mieux notés, quel pourcentage sont américains ? Français ?

In [504]:
# 1ere methode 
top_us = imdb.sort_values(by = "note").iloc[0:100][imdb.iloc[:,9].str.contains("United States")]
top_us.shape
#Je trie par note les 100 premiers films puis je tcheck combien sont Americains : 
# Donc 72% des 100 films les mieux notés sont Americain

C:\Users\APPREN~1\AppData\Local\Temp/ipykernel_14844/398471806.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  top_us = imdb.sort_values(by = "note").iloc[0:100][imdb.iloc[:,9].str.contains("United States")]

(72, 12)

In [505]:
# 2eme methode :
top_us2 = imdb.sort_values(by = "note").iloc[0:100][imdb['Origin country'] == "United States"]
top_us2.shape
# Je note une différence, 44 films sont 100%, les autres contiennent united states dans une liste de plusieurs pays d'origine

C:\Users\APPREN~1\AppData\Local\Temp/ipykernel_14844/423771339.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  top_us2 = imdb.sort_values(by = "note").iloc[0:100][imdb['Origin country'] == "United States"]

(44, 12)

In [506]:
# 3eme methode, me donne le meme résultat qu'un == : 
top_us2 = imdb.sort_values(by = "note").iloc[0:100][imdb['Origin country'].isin(["United States"])]
top_us2.shape

C:\Users\APPREN~1\AppData\Local\Temp/ipykernel_14844/4134278549.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  top_us2 = imdb.sort_values(by = "note").iloc[0:100][imdb['Origin country'].isin(["United States"])]

(44, 12)

In [507]:
# Pour les films Francais : 
top_fr = imdb.sort_values(by = "note").iloc[0:100][imdb.iloc[:,9].str.contains("France")]
top_fr.shape
# Donc 10% des 100 films les mieux notés sont Francais

C:\Users\APPREN~1\AppData\Local\Temp/ipykernel_14844/258453268.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  top_fr = imdb.sort_values(by = "note").iloc[0:100][imdb.iloc[:,9].str.contains("France")]

(10, 12)

### 6 - Quel est la durée moyenne d'un film en fonction du genre ?

In [508]:
autre_grp = imdb.groupby('Origin country')['note'].mean()
autre_grp

Origin country
Argentina,Spain                                          8.2
Argentina,Spain,France,United Kingdom                    8.1
Australia,South Africa                                   8.1
Australia,United States                                  8.1
Brazil,France,Germany                                    8.6
                                                        ...
United States,United Kingdom,India,Spain,Canada,China    8.3
United States,United Kingdom,Malta,Morocco               8.5
West Germany                                             8.3
West Germany,France,United Kingdom                       8.1
West Germany,Sweden,United Kingdom                       8.2
Name: note, Length: 66, dtype: float64

### Bonus 
#### 1 - En fonction du genre, afficher la liste des films les plus longs

In [509]:
longer_movie = imdb.sort_values(by = ["genre", "duration"], ascending = False ).head()
longer_movie
# Tableau trier par genre et par durée

,title,date,public,duration,note,synopsis,genre,actors,Origin language,Origin country,Origin title,movie cost
8,Il était une fois dans l'Ouest,1968,Tous publics,165,8.5,A mysterious stranger with a harmonica joins f...,Western,"Henry Fonda,Charles Bronson,Claudia Cardinale,...","English,Italian,Spanish","Italy,United States",Original title: C'era una volta il West,5000000
142,...et pour quelques dollars de plus,1965,18,132,8.2,Two bounty hunters with the same intentions te...,Western,"Clint Eastwood,Lee Van Cleef,Gian Maria Volont...","Italian,English","Italy,Spain,West Germany",Original title: Per qualche dollaro in più,600000
110,Shutter Island,2010,12,138,8.2,"In 1954, a U.S. Marshal investigates the disap...","Mystery,Thriller","Leonardo DiCaprio,Emily Mortimer,Mark Ruffalo,...","English,German",United States,NaN,80000000
1,Memento,2000,Tous publics,113,8.4,A man with short-term memory loss attempts to ...,"Mystery,Thriller","Guy Pearce,Carrie-Anne Moss,Joe Pantoliano,Mar...",English,United States,NaN,9000000
2,Fenêtre sur cour,1954,Tous publics,112,8.5,A wheelchair-bound photographer spies on his n...,"Mystery,Thriller","James Stewart,Grace Kelly,Wendell Corey,Thelma...",English,United States,Original title: Rear Window,1000000

#### 2 - En fonction du genre, quel est le cout de tournage d'une minute de film

In [510]:
# boucle qui va remplir la colonne prix / minutes : 
imdb['movie cost by minute'] = 0 
for i,j in imdb['movie cost'].items():
    if j != 0  :
        imdb['movie cost by minute'][i] += float(imdb['movie cost'][i]) / float(imdb['duration'][i])

C:\Users\APPREN~1\AppData\Local\Temp/ipykernel_14844/376988965.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb['movie cost by minute'][i] += float(imdb['movie cost'][i]) / float(imdb['duration'][i])
C:\Users\Apprenant\anaconda3\envs\scraping\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [511]:
# Il me classe Madmoiselle top1 car sur le site le movie cost n'est pas en dolard mais en Yen 
a = imdb.sort_values(by = 'movie cost by minute' , ascending=False)
a.head()

,title,date,public,duration,note,synopsis,genre,actors,Origin language,Origin country,Origin title,movie cost,movie cost by minute
45,Mademoiselle,2016,12,145,8.1,A woman is hired as a handmaiden to a Japanese...,"Drama,Romance,Thriller","Kim Min-hee,Ha Jung-woo,Cho Jin-woong,Moon So-...","Korean,Japanese",South Korea,Original title: Ah-ga-ssi,10000000000,6.896552e+07
199,Princesse Mononoké,1997,Tous publics,134,8.4,On a journey to find the cure for a Tatarigami...,"Animation,Action,Adventure,Fantasy","Yôji Matsuda,Yuriko Ishida,Yûko Tanaka,Billy C...",Japanese,Japan,Original title: Mononoke-hime,2400000000,1.791045e+07
161,Dangal,2016,Tous publics,161,8.4,Former wrestler Mahavir Singh Phogat and his t...,"Action,Biography,Drama,Sport","Aamir Khan,Sakshi Tanwar,Fatima Sana Shaikh,Sa...","Hindi,English","India,United States,United Kingdom,Australia,K...",NaN,700000000,4.347826e+06
196,Your Name.,2016,Tous publics,106,8.4,Two strangers find themselves linked in a biza...,"Animation,Drama,Fantasy,Romance","Ryûnosuke Kamiki,Mone Kamishiraishi,Ryô Narita...",Japanese,Japan,Original title: Kimi no na wa.,370000000,3.490566e+06
184,3 Idiots,2009,Tous publics,170,8.4,Two friends are searching for their long lost ...,"Comedy,Drama","Aamir Khan,Madhavan,Mona Singh,Sharman Joshi,K...","Hindi,English",India,NaN,550000000,3.235294e+06

In [512]:
# Je change le nom de ma colonne durée pour précisé que c'est des minutes 
imdb.rename(columns={'duration': 'duration by min'} , inplace=True)
imdb.head()

,title,date,public,duration by min,note,synopsis,genre,actors,Origin language,Origin country,Origin title,movie cost,movie cost by minute
0,Alien - Le 8ème passager,1979,12,117,8.4,After a space merchant vessel receives an unkn...,"Horror,Sci-Fi","Sigourney Weaver,Tom Skerritt,John Hurt,Veroni...",English,"United Kingdom,United States",Original title: Alien,11000000,94017.0
1,Memento,2000,Tous publics,113,8.4,A man with short-term memory loss attempts to ...,"Mystery,Thriller","Guy Pearce,Carrie-Anne Moss,Joe Pantoliano,Mar...",English,United States,NaN,9000000,79646.0
2,Fenêtre sur cour,1954,Tous publics,112,8.5,A wheelchair-bound photographer spies on his n...,"Mystery,Thriller","James Stewart,Grace Kelly,Wendell Corey,Thelma...",English,United States,Original title: Rear Window,1000000,8928.0
3,Le Dictateur,1940,Tous publics,125,8.4,Dictator Adenoid Hynkel tries to expand his em...,"Comedy,Drama,War","Charles Chaplin,Paulette Goddard,Jack Oakie,Re...","English,Esperanto",United States,Original title: The Great Dictator,2000000,16000.0
4,Les Aventuriers de l'arche perdue,1981,Tous publics,115,8.4,"In 1936, archaeologist and adventurer Indiana ...","Action,Adventure","Harrison Ford,Karen Allen,Paul Freeman,John Rh...","English,German,Hebrew,Spanish,Arabic,Nepali",United States,Original title: Raiders of the Lost Ark,18000000,156521.0

## Partie 3 : Créer votre application

In [513]:
imdb.to_csv("datafram.csv")