In [324]:
import pandas as pd 
import numpy as np

## Partie 1 : scraping sur imdb des 250 meilleurs films

## partie 2a :
### 1 Transformer la durée en minutes 
### 2 - Type et acteur en liste 
### 3 - Vérifier les doublons etc ...

In [325]:
imdb = pd.read_csv("data_csv.csv")
imdb.head()

,title,date,public,duration,note,synopsis,genre,actors,Origin language,Origin country,Origin title,movie cost
0,Alien - Le 8ème passager,1979,12,"1,h, ,57,m",8.4,After a space merchant vessel receives an unkn...,"Horror,Sci-Fi","Sigourney Weaver,Tom Skerritt,John Hurt,Veroni...",English,"United Kingdom,United States",Original title: Alien,"$11,000,000 (estimated)"
1,Memento,2000,Tous publics,"1,h, ,53,m",8.4,A man with short-term memory loss attempts to ...,"Mystery,Thriller","Guy Pearce,Carrie-Anne Moss,Joe Pantoliano,Mar...",English,United States,NaN,"$9,000,000 (estimated)"
2,Fenêtre sur cour,1954,Tous publics,"1,h, ,52,m",8.5,A wheelchair-bound photographer spies on his n...,"Mystery,Thriller","James Stewart,Grace Kelly,Wendell Corey,Thelma...",English,United States,Original title: Rear Window,"$1,000,000 (estimated)"
3,Le Dictateur,1940,Tous publics,"2,h, ,5,m",8.4,Dictator Adenoid Hynkel tries to expand his em...,"Comedy,Drama,War","Charles Chaplin,Paulette Goddard,Jack Oakie,Re...","English,Esperanto",United States,Original title: The Great Dictator,"$2,000,000 (estimated)"
4,Les Aventuriers de l'arche perdue,1981,Tous publics,"1,h, ,55,m",8.4,"In 1936, archaeologist and adventurer Indiana ...","Action,Adventure","Harrison Ford,Karen Allen,Paul Freeman,John Rh...","English,German,Hebrew,Spanish,Arabic,Nepali",United States,Original title: Raiders of the Lost Ark,"$18,000,000 (estimated)"

In [326]:
# D'abord je trie  : 
# Je supprime tout les non digits du coût du film. (Pour la question bonus de fin) 
imdb['movie cost'] = imdb.loc[:,'movie cost'].replace(regex=r'\D+', value="")
imdb['movie cost']

0       11000000
1        9000000
2        1000000
3        2000000
4       18000000
         ...
245    160000000
246       350000
247    185000000
248      6000000
249     13000000
Name: movie cost, Length: 250, dtype: object

In [327]:
# Pour supprimer les doublons on peut utiliser imdb.drop_duplicates()
# Shape permet de voir le nombre de lignes et de colonnes. 
# Ici j'ai bien 250 films je n'ai pas besoin de la fonction

# imdb.drop_duplicates( inplace=True)

# Je trie la colonne durée 
imdb['duration'] = imdb.loc[:,'duration'].replace(regex=r",", value="").replace(regex=r" ", value="").replace(regex=r"m", value="")
imdb['duration']

0      1h57
1      1h53
2      1h52
3       2h5
4      1h55
       ...
245    2h28
246    1h36
247    2h32
248    2h55
249    3h22
Name: duration, Length: 250, dtype: object

In [328]:

# Ma fonction qui change ma colonne heure en minute :

def to_minute(formatted_str):
    for i,j in formatted_str.items():
        if len(j) > 2  :
            cache = j.split("h")
        formatted_str[i] = (int(cache[0]) * 60 + int(cache[1])) 
    return formatted_str
to_minute(imdb['duration'])

# # Je transforme la colonne durée en int 

imdb['duration'] = pd.to_numeric(imdb['duration'])

C:\Users\APPREN~1\AppData\Local\Temp/ipykernel_14844/24508207.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  formatted_str[i] = (int(cache[0]) * 60 + int(cache[1]))

In [329]:
# Je sais récupéré des listes de chaque cellules 
actor_data =  imdb['actors']
list_actors = []
for i in actor_data:
    for j in i.split(","):
        list_actors.append(j)

category_data = imdb["genre"]
list_category = []
for i in category_data:
    for j in i.split(','):
        list_category.append(j)

language_data = imdb['Origin country']
list_language = []
for i in language_data:
    for j in i.split(','):
        list_language.append(j)

In [374]:
list_actors[1]

'Tom Skerritt'

In [407]:
imdb[imdb["genre"] >= "Horror"]

,title,date,public,duration by min,note,synopsis,genre,actors,Origin language,Origin country,Origin title,movie cost,movie cost by minute
0,Alien - Le 8ème passager,1979,12,117,8.4,After a space merchant vessel receives an unkn...,"Horror,Sci-Fi","Sigourney Weaver,Tom Skerritt,John Hurt,Veroni...",English,"United Kingdom,United States",Original title: Alien,11000000,94017.000000
1,Memento,2000,Tous publics,113,8.4,A man with short-term memory loss attempts to ...,"Mystery,Thriller","Guy Pearce,Carrie-Anne Moss,Joe Pantoliano,Mar...",English,United States,NaN,9000000,79646.000000
2,Fenêtre sur cour,1954,Tous publics,112,8.5,A wheelchair-bound photographer spies on his n...,"Mystery,Thriller","James Stewart,Grace Kelly,Wendell Corey,Thelma...",English,United States,Original title: Rear Window,1000000,8928.000000
8,Il était une fois dans l'Ouest,1968,Tous publics,165,8.5,A mysterious stranger with a harmonica joins f...,Western,"Henry Fonda,Charles Bronson,Claudia Cardinale,...","English,Italian,Spanish","Italy,United States",Original title: C'era una volta il West,5000000,30303.000000
104,The Thing,1982,13,109,8.1,A research team in Antarctica is hunted by a s...,"Horror,Mystery,Sci-Fi","Kurt Russell,Wilford Brimley,Keith David,Richa...","English,Norwegian","United States,Canada",NaN,15000000,137614.678899
110,Shutter Island,2010,12,138,8.2,"In 1954, a U.S. Marshal investigates the disap...","Mystery,Thriller","Leonardo DiCaprio,Emily Mortimer,Mark Ruffalo,...","English,German",United States,NaN,80000000,579710.144928
142,...et pour quelques dollars de plus,1965,18,132,8.2,Two bounty hunters with the same intentions te...,Western,"Clint Eastwood,Lee Van Cleef,Gian Maria Volont...","Italian,English","Italy,Spain,West Germany",Original title: Per qualche dollaro in più,600000,4545.454545
174,Sueurs froides,1958,Tous publics,128,8.3,A former San Francisco police detective juggle...,"Mystery,Romance,Thriller","James Stewart,Kim Novak,Barbara Bel Geddes,Tom...",English,United States,Original title: Vertigo,2479000,19367.187500
215,Psychose,1960,18,109,8.5,"A Phoenix secretary embezzles $40,000 from her...","Horror,Mystery,Thriller","Anthony Perkins,Janet Leigh,Vera Miles,John Ga...",English,United States,Original title: Psycho,806947,7403.183486

In [411]:
imdb['note'].values

array([8.4, 8.4, 8.5, 8.4, 8.4, 8.5, 8.4, 9.3, 8.5, 8.5, 8.5, 8.5, 8.5,
       8.5, 8.5, 8.1, 8.1, 9.1, 8.1, 8.1, 8.5, 8.1, 8.1, 8.1, 8.1, 8.1,
       8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.2, 8.1, 8.1, 8.1, 8.2,
       8.1, 8.1, 8.1, 8.2, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1,
       8.1, 8.1, 8.1, 8.1, 8.2, 8.1, 8.2, 8.1, 8.1, 8.2, 8.1, 8.1, 8.1,
       8.6, 8.1, 8.1, 8.1, 8.1, 8.1, 8.2, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1,
       8.1, 8.1, 8.2, 8.1, 8.2, 8.1, 8.1, 8.2, 8.1, 8.1, 8.1, 8.1, 8.1,
       8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.2, 8.2, 8.1, 8.1,
       8.1, 8.1, 8.2, 8.2, 8.1, 8.2, 8.2, 8.2, 8.2, 8.3, 8.2, 8.2, 8.2,
       8.2, 8.2, 8.2, 8.2, 8.2, 8.2, 8.2, 8.3, 8.2, 8.2, 8.2, 8.2, 8.2,
       8.2, 8.2, 8.2, 8.2, 8.2, 8.2, 8.2, 8.2, 8.2, 8.2, 8.2, 8.2, 8.2,
       8.2, 8.2, 8.3, 8.3, 8.3, 8.3, 8.2, 8.3, 8.3, 8.3, 8.3, 8.4, 8.3,
       8.3, 8.3, 8.3, 8.3, 9.5, 8.4, 8.3, 8.3, 8.3, 8.3, 8.3, 8.3, 8.3,
       8.3, 8.3, 8.3, 8.3, 8.3, 8.3, 8.4, 8.3, 8.3, 8.3, 8.3, 8.3, 8.4,
       8.3, 8.3, 8.4, 8.3, 8.3, 8.3, 8.3, 8.4, 8.3, 8.4, 8.4, 8.4, 8.4,
       8.3, 8.4, 8.4, 8.4, 8.4, 8.4, 8.4, 8.4, 8.4, 8.4, 8.4, 8.4, 8.4,
       8.4, 8.4, 8.5, 8.5, 8.5, 8.5, 8.5, 8.5, 8.5, 8.6, 8.5, 8.5, 8.5,
       8.6, 8.6, 8.6, 8.6, 8.6, 8.6, 8.6, 8.6, 8.6, 8.6, 8.6, 8.6, 8.7,
       8.7, 8.7, 8.7, 8.7, 8.8, 8.8, 8.8, 8.8, 8.9, 8.9, 8.9, 8.8, 9. ,
       9. , 9.2, 9. ])

In [388]:
imdb[imdb['title'].isin(["Le Prestige"])]

,title,date,public,duration by min,note,synopsis,genre,actors,Origin language,Origin country,Origin title,movie cost,movie cost by minute
9,Le Prestige,2006,Tous publics,130,8.5,"After a tragic accident, two stage magicians i...","Drama,Mystery,Sci-Fi,Thriller","Christian Bale,Hugh Jackman,Scarlett Johansson...",English,"United Kingdom,United States",Original title: The Prestige,40000000,307692.0

In [383]:
str(["Le Prestige"])

"['Le Prestige']"

In [372]:
imdb[imdb['actors'] == str(list_actors[1])]

Empty DataFrame
Columns: [title, date, public, duration by min, note, synopsis, genre, actors, Origin language, Origin country, Origin title, movie cost, movie cost by minute]
Index: []

In [375]:
imdb[imdb['actors'].str.contains(str(list_actors[1]))]

,title,date,public,duration by min,note,synopsis,genre,actors,Origin language,Origin country,Origin title,movie cost,movie cost by minute
0,Alien - Le 8ème passager,1979,12,117,8.4,After a space merchant vessel receives an unkn...,"Horror,Sci-Fi","Sigourney Weaver,Tom Skerritt,John Hurt,Veroni...",English,"United Kingdom,United States",Original title: Alien,11000000,94017.0

In [330]:
# set permet d'éliminer les doublons d'une liste 
set(list_language)

{'Algeria',
 'Argentina',
 'Australia',
 'Austria',
 'Brazil',
 'Bulgaria',
 'Canada',
 'China',
 'Cyprus',
 'Czechoslovakia',
 'Denmark',
 'France',
 'Germany',
 'Hong Kong',
 'India',
 'Iran',
 'Ireland',
 'Italy',
 'Japan',
 'Kenya',
 'Lebanon',
 'Malta',
 'Mexico',
 'Morocco',
 'Namibia',
 'New Zealand',
 'Poland',
 'Qatar',
 'South Africa',
 'South Korea',
 'Soviet Union',
 'Spain',
 'Sweden',
 'Switzerland',
 'Turkey',
 'United Kingdom',
 'United States',
 'West Germany'}

In [366]:
set = [i for i in range (60,350, 30)]
set

[60, 90, 120, 150, 180, 210, 240, 270, 300, 330]

## Partie 2b :

### 1 - Quel est le film le plus long ?

In [331]:
# Methode 1 :  
a = imdb["duration"] == imdb['duration'].max()
imdb[a]

,title,date,public,duration,note,synopsis,genre,actors,Origin language,Origin country,Origin title,movie cost
42,Gangs of Wasseypur,2012,Tous publics avec avertissement,321,8.2,A clash between Sultan and Shahid Khan leads t...,"Action,Comedy,Crime,Drama,Thriller","Manoj Bajpayee,Richa Chadha,Nawazuddin Siddiqu...",Hindi,India,NaN,184000000

In [332]:
# Méthode 2 : 
film_le_plus_long = imdb.sort_values(by = "duration", ascending = False )[0:]
film_le_plus_long
# Reponse 1 : le film le plus long est "Gangs of Wasseypur"

,title,date,public,duration,note,synopsis,genre,actors,Origin language,Origin country,Origin title,movie cost
42,Gangs of Wasseypur,2012,Tous publics avec avertissement,321,8.2,A clash between Sultan and Shahid Khan leads t...,"Action,Comedy,Crime,Drama,Thriller","Manoj Bajpayee,Richa Chadha,Nawazuddin Siddiqu...",Hindi,India,NaN,184000000
87,Autant en emporte le vent,1939,Tous publics,238,8.1,The manipulative daughter of a Georgia plantat...,"Drama,History,Romance,War","Clark Gable,Vivien Leigh,Thomas Mitchell,Barba...",English,United States,Original title: Gone with the Wind,3977000
190,Il était une fois en Amérique,1984,Tous publics,229,8.3,A former Prohibition-era Jewish gangster retur...,"Crime,Drama","Robert De Niro,James Woods,Elizabeth McGovern,...","English,Italian,French,Yiddish,Hebrew","Italy,United States",Original title: Once Upon a Time in America,30000000
165,Lawrence d'Arabie,1962,Tous publics,228,8.3,"The story of T.E. Lawrence, the English office...","Adventure,Biography,Drama,War","Peter O'Toole,Alec Guinness,Anthony Quinn,Jack...","English,Arabic,Turkish",United Kingdom,Original title: Lawrence of Arabia,15000000
51,Ben-Hur,1959,Tous publics,212,8.1,After a Jewish prince is betrayed and sent int...,"Adventure,Drama,History","Charlton Heston,Jack Hawkins,Stephen Boyd,Haya...",English,United States,NaN,15000000
...,...,...,...,...,...,...,...,...,...,...,...,...
74,Persona,1966,Tous publics,85,8.1,A nurse is put in charge of a mute actress and...,"Drama,Thriller","Bibi Andersson,Liv Ullmann,Margaretha Krook,Gu...","Swedish,English",Sweden,NaN,NaN
185,Toy Story,1995,Tous publics,81,8.3,A cowboy doll is profoundly threatened and jea...,"Animation,Adventure,Comedy,Family,Fantasy","Tom Hanks,Tim Allen,Don Rickles,Jim Varney,Wal...",English,United States,NaN,30000000
23,Before Sunset,2004,Tous publics,80,8.1,"Nine years after Jesse and Celine first met, t...","Drama,Romance","Ethan Hawke,Julie Delpy,Vernon Dobtcheff,Louis...","English,French","United States,France",NaN,2700000
162,Le Kid,1921,Tous publics,68,8.3,"The Tramp cares for an abandoned child, but ev...","Comedy,Drama,Family","Charles Chaplin,Edna Purviance,Jackie Coogan,C...","None,English",United States,Original title: The Kid,250000
75,Le mécano de la Générale,1926,Tous publics,67,8.1,After being rejected by the Confederate milita...,"Action,Adventure,Comedy,Drama,War","Buster Keaton,Marion Mack,Glen Cavender,Jim Fa...",English,United States,Original title: The General,750000

### 2 - Quels sont les 5 films les mieux notés ?

In [333]:
top_5 = imdb.sort_values(by = "note", ascending = False ).iloc[0:5]
top_5 
# Les 5 meilleurs films sont : Jai Bhim ; Les évadés ; Le parrain ; Soorarai Pottru ; The Dark Knight : Le Chevalier noir

,title,date,public,duration,note,synopsis,genre,actors,Origin language,Origin country,Origin title,movie cost
160,Jai Bhim,2021,NaN,164,9.5,When a tribal man is arrested for a case of al...,"Crime,Drama","Suriya,Lijo Mol Jose,Manikandan,Rajisha Vijaya...",Tamil,India,NaN,NaN
7,Les Évadés,1994,Tous publics,142,9.3,Two imprisoned men bond over a number of years...,Drama,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",English,United States,Original title: The Shawshank Redemption,25000000
248,Le Parrain,1972,12,175,9.2,The Godfather follows Vito Corleone Don of the...,"Crime,Drama","Marlon Brando,Al Pacino,James Caan,Diane Keato...","English,Italian,Latin",United States,Original title: The Godfather,6000000
17,Soorarai Pottru,2020,18,153,9.1,"Nedumaaran Rajangam ""Maara"" sets out to make t...",Drama,"Suriya,Paresh Rawal,Aparna Balamurali,Gaurav P...","Tamil,Hindi",India,NaN,150000000
249,"Le Parrain, 2ᵉ partie",1974,13,202,9.0,The early life and career of Vito Corleone in ...,"Crime,Drama","Al Pacino,Robert De Niro,Robert Duvall,Diane K...","English,Italian,Spanish,Latin,Sicilian",United States,Original title: The Godfather: Part II,13000000

### 3 - Dans combien de films à joué Morgan Freeman ? et Tom Cruise ?

In [367]:
# La methodes plus adéquate ? 
a = imdb[imdb['actors'].str.contains("Morgan Freeman")]
b = imdb[imdb.loc[:,'actors'].str.contains("Tom Cruise")]
a

,title,date,public,duration by min,note,synopsis,genre,actors,Origin language,Origin country,Origin title,movie cost,movie cost by minute
7,Les Évadés,1994,Tous publics,142,9.3,Two imprisoned men bond over a number of years...,Drama,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",English,United States,Original title: The Shawshank Redemption,25000000,1.760560e+05
50,Million Dollar Baby,2004,Tous publics,132,8.1,A determined woman works with a hardened boxin...,"Drama,Sport","Hilary Swank,Clint Eastwood,Morgan Freeman,Jay...","English,Irish Gaelic",United States,NaN,30000000,2.272727e+05
125,Impitoyable,1992,Tous publics,130,8.2,Retired Old West gunslinger William Munny relu...,"Drama,Western","Clint Eastwood,Gene Hackman,Morgan Freeman,Ric...",English,United States,Original title: Unforgiven,14400000,1.107692e+05
128,Batman Begins,2005,Tous publics,140,8.2,"After training with his mentor, Batman begins ...","Action,Adventure","Christian Bale,Michael Caine,Ken Watanabe,Liam...","English,Mandarin","United Kingdom,United States",NaN,150000000,1.071429e+06
192,The Dark Knight Rises,2012,Tous publics,164,8.4,Eight years after the Joker's reign of anarchy...,"Action,Crime","Christian Bale,Tom Hardy,Anne Hathaway,Gary Ol...","English,Arabic","United Kingdom,United States",NaN,250000000,1.524390e+06
230,Seven,1995,12,127,8.6,"Two detectives, a rookie and a veteran, hunt a...","Crime,Drama,Mystery,Thriller","Morgan Freeman,Brad Pitt,Kevin Spacey,Andrew K...",English,United States,Original title: Se7en,33000000,2.598425e+05
247,The Dark Knight : Le Chevalier noir,2008,Tous publics,152,9.0,When the menace known as the Joker wreaks havo...,"Action,Crime,Drama,Thriller","Christian Bale,Heath Ledger,Aaron Eckhart,Mich...","English,Mandarin","United States,United Kingdom",Original title: The Dark Knight,185000000,1.217105e+06

In [336]:
# L'autre méthode : 
# fonctions pour compter les nombre de films par personnage

def actor_count(star, liste):
    count = 0 
    for i in liste:
        if star in str(i) :
            count +=1 
    return count

In [337]:
a = actor_count("Morgan Freeman", imdb['actors'] )    
b = actor_count("Tom Cruise", imdb['actors'] )  
print(f"Réponse 3 : Morgan Freeman a jouer dans {a} films et Tom Cruise a jouer dans {b} films. ")

Réponse 3 : Morgan Freeman a jouer dans 7 films et Tom Cruise a jouer dans 0 films.

### 4 - Quels sont les 3 meilleurs films d'horreur ? Dramatique ? Comique ?

In [339]:
horror_top3 = imdb[imdb.loc[:,'genre'].str.contains("Horror")].sort_values(by = "note").iloc[0:3]
horror_top3
# Voici les 3 meilleurs films d'horreur

,title,date,public,duration,note,synopsis,genre,actors,Origin language,Origin country,Origin title,movie cost
104,The Thing,1982,13,109,8.1,A research team in Antarctica is hunted by a s...,"Horror,Mystery,Sci-Fi","Kurt Russell,Wilford Brimley,Keith David,Richa...","English,Norwegian","United States,Canada",NaN,15000000
0,Alien - Le 8ème passager,1979,12,117,8.4,After a space merchant vessel receives an unkn...,"Horror,Sci-Fi","Sigourney Weaver,Tom Skerritt,John Hurt,Veroni...",English,"United Kingdom,United States",Original title: Alien,11000000
201,Shining,1980,12,146,8.4,A family heads to an isolated hotel for the wi...,"Drama,Horror","Jack Nicholson,Shelley Duvall,Danny Lloyd,Scat...",English,"United Kingdom,United States",Original title: The Shining,19000000

In [340]:
drama_top3 = imdb[imdb.iloc[:,6].str.contains("Drama")].sort_values(by = "note").iloc[0:3]
drama_top3 
# Voici les 3 meilleurs films Dramatique

,title,date,public,duration,note,synopsis,genre,actors,Origin language,Origin country,Origin title,movie cost
57,Stand by Me : Compte sur moi,1986,Tous publics,89,8.1,"After the death of one of his friends, a write...","Adventure,Drama","Wil Wheaton,River Phoenix,Corey Feldman,Jerry ...",English,United States,Original title: Stand by Me,8000000
74,Persona,1966,Tous publics,85,8.1,A nurse is put in charge of a mute actress and...,"Drama,Thriller","Bibi Andersson,Liv Ullmann,Margaretha Krook,Gu...","Swedish,English",Sweden,NaN,NaN
73,Mary et Max.,2009,Tous Public,92,8.1,A tale of friendship between two unlikely pen ...,"Animation,Comedy,Drama,Family","Toni Collette,Philip Seymour Hoffman,Eric Bana...","English,Yiddish","Australia,United States",Original title: Mary and Max.,8240000

In [341]:
comedy_top3 = imdb[imdb['genre'].str.contains("Comedy")].sort_values(by = "note").iloc[0:3]
comedy_top3
# Voici les 3 meilleurs films Comique

,title,date,public,duration,note,synopsis,genre,actors,Origin language,Origin country,Origin title,movie cost
90,Vice-versa,2015,Tous publics,95,8.1,After young Riley is uprooted from her Midwest...,"Animation,Adventure,Comedy,Drama,Family,Fantas...","Amy Poehler,Bill Hader,Lewis Black,Mindy Kalin...","English,Portuguese",United States,Original title: Inside Out,175000000
97,The Truman Show,1998,Tous publics,103,8.1,An insurance salesman discovers his whole life...,"Comedy,Drama","Jim Carrey,Ed Harris,Laura Linney,Noah Emmeric...",English,United States,NaN,60000000
88,Le Monde de Nemo,2003,Tous publics,100,8.1,After his son is captured in the Great Barrier...,"Animation,Adventure,Comedy,Family","Albert Brooks,Ellen DeGeneres,Alexander Gould,...",English,United States,Original title: Finding Nemo,94000000

### 5 - Parmi les 100 films les mieux notés, quel pourcentage sont américains ? Français ?

In [343]:
top_us = imdb.sort_values(by = "note").iloc[0:100][imdb.iloc[:,9].str.contains("United States")].shape
top_us
# Donc 72% des 100 films les mieux notés sont Americain

C:\Users\APPREN~1\AppData\Local\Temp/ipykernel_14844/2542271248.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  top_us = imdb.sort_values(by = "note").iloc[0:100][imdb.iloc[:,9].str.contains("United States")].shape

(72, 12)

In [345]:
# Autre méthode 
top_us2 = imdb[imdb['Origin country'] == "United States"]
top_us2

,title,date,public,duration,note,synopsis,genre,actors,Origin language,Origin country,Origin title,movie cost
1,Memento,2000,Tous publics,113,8.4,A man with short-term memory loss attempts to ...,"Mystery,Thriller","Guy Pearce,Carrie-Anne Moss,Joe Pantoliano,Mar...",English,United States,NaN,9000000
2,Fenêtre sur cour,1954,Tous publics,112,8.5,A wheelchair-bound photographer spies on his n...,"Mystery,Thriller","James Stewart,Grace Kelly,Wendell Corey,Thelma...",English,United States,Original title: Rear Window,1000000
3,Le Dictateur,1940,Tous publics,125,8.4,Dictator Adenoid Hynkel tries to expand his em...,"Comedy,Drama,War","Charles Chaplin,Paulette Goddard,Jack Oakie,Re...","English,Esperanto",United States,Original title: The Great Dictator,2000000
4,Les Aventuriers de l'arche perdue,1981,Tous publics,115,8.4,"In 1936, archaeologist and adventurer Indiana ...","Action,Adventure","Harrison Ford,Karen Allen,Paul Freeman,John Rh...","English,German,Hebrew,Spanish,Arabic,Nepali",United States,Original title: Raiders of the Lost Ark,18000000
6,Apocalypse Now,1979,Tous publics avec avertissement,147,8.4,A U.S. Army officer serving in Vietnam is task...,"Drama,Mystery,War","Martin Sheen,Marlon Brando,Robert Duvall,Frede...","English,French,Vietnamese",United States,NaN,31500000
...,...,...,...,...,...,...,...,...,...,...,...,...
243,Pulp Fiction,1994,12,154,8.9,"The lives of two mob hitmen, a boxer, a gangst...","Crime,Drama","John Travolta,Uma Thurman,Samuel L. Jackson,Br...","English,Spanish,French",United States,NaN,8000000
244,La liste de Schindler,1993,Tous publics,195,8.9,"In German-occupied Poland during World War II,...","Biography,Drama,History","Liam Neeson,Ralph Fiennes,Ben Kingsley,Carolin...","English,Hebrew,German,Polish,Latin",United States,Original title: Schindler's List,22000000
246,12 Hommes en colère,1957,Tous publics,96,9.0,The jury in a New York City murder trial is fr...,"Crime,Drama","Henry Fonda,Lee J. Cobb,Martin Balsam,John Fie...",English,United States,Original title: 12 Angry Men,350000
248,Le Parrain,1972,12,175,9.2,The Godfather follows Vito Corleone Don of the...,"Crime,Drama","Marlon Brando,Al Pacino,James Caan,Diane Keato...","English,Italian,Latin",United States,Original title: The Godfather,6000000
249,"Le Parrain, 2ᵉ partie",1974,13,202,9.0,The early life and career of Vito Corleone in ...,"Crime,Drama","Al Pacino,Robert De Niro,Robert Duvall,Diane K...","English,Italian,Spanish,Latin,Sicilian",United States,Original title: The Godfather: Part II,13000000

In [346]:
top_fr = imdb.sort_values(by = "note").iloc[0:100][imdb.iloc[:,9].str.contains("France")].shape
top_fr
# Donc 10% des 100 films les mieux notés sont Francais

C:\Users\APPREN~1\AppData\Local\Temp/ipykernel_14844/998404241.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  top_fr = imdb.sort_values(by = "note").iloc[0:100][imdb.iloc[:,9].str.contains("France")].shape

(10, 12)

### 6 - Quel est la durée moyenne d'un film en fonction du genre ?

In [347]:
autre_grp = imdb.groupby('Origin country')['note'].mean()
autre_grp

Origin country
Argentina,Spain                                          8.2
Argentina,Spain,France,United Kingdom                    8.1
Australia,South Africa                                   8.1
Australia,United States                                  8.1
Brazil,France,Germany                                    8.6
                                                        ...
United States,United Kingdom,India,Spain,Canada,China    8.3
United States,United Kingdom,Malta,Morocco               8.5
West Germany                                             8.3
West Germany,France,United Kingdom                       8.1
West Germany,Sweden,United Kingdom                       8.2
Name: note, Length: 66, dtype: float64

### Bonus 
#### 1 - En fonction du genre, afficher la liste des films les plus longs

In [349]:
longer_movie = imdb.sort_values(by = ["genre", "duration"], ascending = False ).head()
longer_movie
# Tableau trier par genre et par durée

,title,date,public,duration,note,synopsis,genre,actors,Origin language,Origin country,Origin title,movie cost
8,Il était une fois dans l'Ouest,1968,Tous publics,165,8.5,A mysterious stranger with a harmonica joins f...,Western,"Henry Fonda,Charles Bronson,Claudia Cardinale,...","English,Italian,Spanish","Italy,United States",Original title: C'era una volta il West,5000000
142,...et pour quelques dollars de plus,1965,18,132,8.2,Two bounty hunters with the same intentions te...,Western,"Clint Eastwood,Lee Van Cleef,Gian Maria Volont...","Italian,English","Italy,Spain,West Germany",Original title: Per qualche dollaro in più,600000
110,Shutter Island,2010,12,138,8.2,"In 1954, a U.S. Marshal investigates the disap...","Mystery,Thriller","Leonardo DiCaprio,Emily Mortimer,Mark Ruffalo,...","English,German",United States,NaN,80000000
1,Memento,2000,Tous publics,113,8.4,A man with short-term memory loss attempts to ...,"Mystery,Thriller","Guy Pearce,Carrie-Anne Moss,Joe Pantoliano,Mar...",English,United States,NaN,9000000
2,Fenêtre sur cour,1954,Tous publics,112,8.5,A wheelchair-bound photographer spies on his n...,"Mystery,Thriller","James Stewart,Grace Kelly,Wendell Corey,Thelma...",English,United States,Original title: Rear Window,1000000

#### 2 - En fonction du genre, quel est le cout de tournage d'une minute de film

In [350]:
# boucle qui va remplir la colonne prix / minutes : 
imdb['movie cost by minute'] = 0 
for i,j in imdb['movie cost'].items():
    if j != 0  :
        imdb['movie cost by minute'][i] += float(imdb['movie cost'][i]) / float(imdb['duration'][i])

C:\Users\APPREN~1\AppData\Local\Temp/ipykernel_14844/376988965.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb['movie cost by minute'][i] += float(imdb['movie cost'][i]) / float(imdb['duration'][i])
C:\Users\Apprenant\anaconda3\envs\scraping\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [351]:
# Il me classe Madmoiselle top1 car sur le site le movie cost n'est pas en dolard mais en Yen 
a = imdb.sort_values(by = 'movie cost by minute' , ascending=False)
a.head()

,title,date,public,duration,note,synopsis,genre,actors,Origin language,Origin country,Origin title,movie cost,movie cost by minute
45,Mademoiselle,2016,12,145,8.1,A woman is hired as a handmaiden to a Japanese...,"Drama,Romance,Thriller","Kim Min-hee,Ha Jung-woo,Cho Jin-woong,Moon So-...","Korean,Japanese",South Korea,Original title: Ah-ga-ssi,10000000000,6.896552e+07
199,Princesse Mononoké,1997,Tous publics,134,8.4,On a journey to find the cure for a Tatarigami...,"Animation,Action,Adventure,Fantasy","Yôji Matsuda,Yuriko Ishida,Yûko Tanaka,Billy C...",Japanese,Japan,Original title: Mononoke-hime,2400000000,1.791045e+07
161,Dangal,2016,Tous publics,161,8.4,Former wrestler Mahavir Singh Phogat and his t...,"Action,Biography,Drama,Sport","Aamir Khan,Sakshi Tanwar,Fatima Sana Shaikh,Sa...","Hindi,English","India,United States,United Kingdom,Australia,K...",NaN,700000000,4.347826e+06
196,Your Name.,2016,Tous publics,106,8.4,Two strangers find themselves linked in a biza...,"Animation,Drama,Fantasy,Romance","Ryûnosuke Kamiki,Mone Kamishiraishi,Ryô Narita...",Japanese,Japan,Original title: Kimi no na wa.,370000000,3.490566e+06
184,3 Idiots,2009,Tous publics,170,8.4,Two friends are searching for their long lost ...,"Comedy,Drama","Aamir Khan,Madhavan,Mona Singh,Sharman Joshi,K...","Hindi,English",India,NaN,550000000,3.235294e+06

In [353]:
imdb.rename(columns={'duration': 'duration by min'} , inplace=True)
imdb.head()

,title,date,public,duration by min,note,synopsis,genre,actors,Origin language,Origin country,Origin title,movie cost,movie cost by minute
0,Alien - Le 8ème passager,1979,12,117,8.4,After a space merchant vessel receives an unkn...,"Horror,Sci-Fi","Sigourney Weaver,Tom Skerritt,John Hurt,Veroni...",English,"United Kingdom,United States",Original title: Alien,11000000,94017.0
1,Memento,2000,Tous publics,113,8.4,A man with short-term memory loss attempts to ...,"Mystery,Thriller","Guy Pearce,Carrie-Anne Moss,Joe Pantoliano,Mar...",English,United States,NaN,9000000,79646.0
2,Fenêtre sur cour,1954,Tous publics,112,8.5,A wheelchair-bound photographer spies on his n...,"Mystery,Thriller","James Stewart,Grace Kelly,Wendell Corey,Thelma...",English,United States,Original title: Rear Window,1000000,8928.0
3,Le Dictateur,1940,Tous publics,125,8.4,Dictator Adenoid Hynkel tries to expand his em...,"Comedy,Drama,War","Charles Chaplin,Paulette Goddard,Jack Oakie,Re...","English,Esperanto",United States,Original title: The Great Dictator,2000000,16000.0
4,Les Aventuriers de l'arche perdue,1981,Tous publics,115,8.4,"In 1936, archaeologist and adventurer Indiana ...","Action,Adventure","Harrison Ford,Karen Allen,Paul Freeman,John Rh...","English,German,Hebrew,Spanish,Arabic,Nepali",United States,Original title: Raiders of the Lost Ark,18000000,156521.0

## Partie 3 : Créer votre application

In [357]:
imdb.to_csv("datafram.csv")

In [659]:
imdb.columns

Index(['title', 'date', 'public', 'duration / min', 'note', 'synopsis',
       'genre', 'actors', 'Origin language', 'Origin country', 'Origin title',
       'movie cost', 'movie cost by minute'],
      dtype='object')

In [361]:
imdb[imdb['duration by min'] < 100]

,title,date,public,duration by min,note,synopsis,genre,actors,Origin language,Origin country,Origin title,movie cost,movie cost by minute
19,Neon Genesis Evangelion: The End of Evangelion,1997,12,87,8.1,Concurrent theatrical ending of the TV series ...,"Animation,Action,Drama,Fantasy,Sci-Fi","Megumi Ogata,Megumi Hayashibara,Yûko Miyamura,...",Japanese,Japan,Original title: Shin seiki Evangelion Gekijô-b...,NaN,NaN
20,Les lumières de la ville,1931,Tous publics,87,8.5,"With the aid of a wealthy erratic tippler, a d...","Comedy,Drama,Romance","Charles Chaplin,Virginia Cherrill,Florence Lee...","None,English",United States,Original title: City Lights,1500000,1.724138e+04
21,Princess Bride,1987,Tous publics,98,8.1,"While homesick in bed, a young boy's grandfath...","Adventure,Family,Fantasy,Romance","Cary Elwes,Mandy Patinkin,Robin Wright,Chris S...",English,"United Kingdom,United States",Original title: The Princess Bride,16000000,1.632653e+05
23,Before Sunset,2004,Tous publics,80,8.1,"Nine years after Jesse and Celine first met, t...","Drama,Romance","Ethan Hawke,Julie Delpy,Vernon Dobtcheff,Louis...","English,French","United States,France",NaN,2700000,3.375000e+04
31,In the Mood for Love,2000,Tous publics,98,8.1,Two neighbors form a strong bond after both su...,"Drama,Romance","Tony Chiu-Wai Leung,Maggie Cheung,Siu Ping-Lam...","Cantonese,Shanghainese,French,Spanish","Hong Kong,China",Original title: Fa yeung nin wah,NaN,NaN
33,Monty Python : La Vie de Brian,1979,Tous publics,94,8.1,Born on the original Christmas in the stable n...,Comedy,"Graham Chapman,John Cleese,Michael Palin,Terry...","English,Latin",United Kingdom,Original title: Life of Brian,4000000,4.255319e+04
37,Monstres & Cie,2001,Tous publics,92,8.1,"In order to power the city, monsters have to s...","Animation,Adventure,Comedy,Family,Fantasy","Billy Crystal,John Goodman,Mary Gibbs,Steve Bu...",English,United States,"Original title: Monsters, Inc.",115000000,1.250000e+06
41,La Haine,1995,Tous publics,98,8.1,24 hours in the lives of three young men in th...,"Crime,Drama","Vincent Cassel,Hubert Koundé,Saïd Taghmaoui,Ab...",French,"France,United States",Original title: La haine,2590000,2.642857e+04
46,Les Quatre Cents Coups,1959,Tous publics,99,8.1,"A young boy, left without attention, delves in...","Crime,Drama","Jean-Pierre Léaud,Albert Rémy,Claire Maurier,G...","French,English",France,Original title: Les quatre cents coups,NaN,NaN
48,Hatchi,2009,Tous publics,93,8.1,A college professor bonds with an abandoned do...,"Biography,Drama,Family","Richard Gere,Joan Allen,Cary-Hiroyuki Tagawa,S...","English,Japanese","United Kingdom,United States",Original title: Hachi: A Dog's Tale,16000000,1.720430e+05
54,Dragons,2010,Tous publics,98,8.1,A hapless young Viking who aspires to hunt dra...,"Animation,Action,Adventure,Comedy,Family,Fantasy","Jay Baruchel,Gerard Butler,Christopher Mintz-P...",English,United States,Original title: How to Train Your Dragon,165000000,1.683673e+06
56,Jeux dangereux,1942,Tous publics,99,8.2,"During the Nazi occupation of Poland, an actin...","Comedy,Romance,War","Carole Lombard,Jack Benny,Robert Stack,Felix B...","English,German",United States,Original title: To Be or Not to Be,NaN,NaN
57,Stand by Me : Compte sur moi,1986,Tous publics,89,8.1,"After the death of one of his friends, a write...","Adventure,Drama","Wil Wheaton,River Phoenix,Corey Feldman,Jerry ...",English,United States,Original title: Stand by Me,8000000,8.988764e+04
58,Sonate d'automne,1978,Tous publics,99,8.2,"A devoted wife is visited by her mother, a suc...","Drama,Music","Ingrid Bergman,Liv Ullmann,Lena Nyman,Halvar B...","Swedish,English","West Germany,Sweden,United Kingdom",Original title: Höstsonaten,NaN,NaN
73,Mary et Max.,2009,Tous Public,92,8.1,A tale of friendship between two unlikely pen ...,"Animation,Comedy,Drama,Family","Toni Collette,Philip Seymour Hoffman,Eric Bana...","English,Yiddish","Australia,United States",Original title: Mary and Max.,8240000,8.956522e+04
74,Persona,1966,Tous publics,85,8.1,A nurse is put in charge of a mute actress and...,"Drama,Thriller","Bibi Andersson,Liv Ullmann,Margaretha Krook,Gu...","Swedish,English",Sweden,NaN,NaN,NaN
75,Le mécano de la Générale,1926,Tous publics,67,8.1,After being rejected by the Confederate milita...,"Action,Adventure,Comedy,Drama,War","Buster Keaton,Marion Mack,Glen Cavender,Jim Fa...",English,United States,Original title: The General,750000,1.119403e+04
86,The Grand Budapest hotel,2014,Tous publics,99,8.1,A writer encounters the owner of an aging high...,"Adventure,Comedy,Crime","Ralph Fiennes,F. Murray Abraham,Mathieu Amalri...","English,French,German","United States,Germany",Original title: The Grand Budapest Hotel,25000000,2.525253e+05
90,Vice-versa,2015,Tous publics,95,8.1,After young Riley is uprooted from her Midwest...,"Animation,Adventure,Comedy,Drama,Family,Fantas...","Amy Poehler,Bill Hader,Lewis Black,Mindy Kalin...","English,Portuguese",United States,Original title: Inside Out,175000000,1.842105e+06
92,Fargo,1996,12,98,8.1,Minnesota car salesman Jerry Lundegaard's inep...,"Crime,Thriller","William H. Macy,Frances McDormand,Steve Buscem...",English,"United States,United Kingdom",NaN,7000000,7.142857e+04
93,Trainspotting,1996,16,93,8.1,"Renton, deeply immersed in the Edinburgh drug ...",Drama,"Ewan McGregor,Ewen Bremner,Jonny Lee Miller,Ke...",English,United Kingdom,NaN,1500000,1.612903e+04
100,Les fraises sauvages,1957,Tous publics,91,8.2,"After living a life marked by coldness, an agi...","Drama,Romance","Victor Sjöström,Bibi Andersson,Ingrid Thulin,G...","Swedish,Latin",Sweden,Original title: Smultronstället,NaN,NaN
101,La légende de Klaus,2019,7,96,8.2,A simple act of kindness always sparks another...,"Animation,Adventure,Comedy,Family","Jason Schwartzman,J.K. Simmons,Rashida Jones,W...","English,Saami","Spain,United Kingdom,United States",Original title: Klaus,40000000,4.166667e+05
106,Le septième sceau,1957,Tous publics,96,8.2,A knight returning to Sweden after the Crusade...,"Drama,Fantasy,History,Thriller","Max von Sydow,Gunnar Björnstrand,Bengt Ekerot,...","Swedish,Latin",Sweden,Original title: Det sjunde inseglet,150000,1.562500e+03
109,La ruée vers l'or,1925,Tous publics,95,8.2,A prospector goes to the Klondike during the 1...,"Adventure,Comedy,Drama,Western","Charles Chaplin,Mack Swain,Tom Murray,Henry Be...",English,United States,Original title: The Gold Rush,923000,9.715789e+03
119,Mon voisin Totoro,1988,Tous publics,86,8.2,When two girls move to the country to be near ...,"Animation,Comedy,Family,Fantasy","Hitoshi Takagi,Noriko Hidaka,Chika Sakamoto,Sh...",Japanese,Japan,Original title: Tonari no Totoro,3700000,4.302326e+04
124,Les enfants du ciel,1997,Tous publics,89,8.3,"After a boy loses his sister's pair of shoes, ...","Drama,Family,Sport","Mohammad Amir Naji,Amir Farrokh Hashemian,Baha...",Persian,Iran,Original title: Bacheha-Ye aseman,180000,2.022472e+03
130,Monty Python : Sacré Graal !,1975,Tous publics,91,8.2,King Arthur and his Knights of the Round Table...,"Adventure,Comedy,Fantasy","Graham Chapman,John Cleese,Eric Idle,Terry Gil...","English,French,Latin",United Kingdom,Original title: Monty Python and the Holy Grail,229575,2.522802e+03
135,Rashomon,1950,Tous Public,88,8.2,The rape of a bride and the murder of her samu...,"Crime,Drama,Mystery","Toshirô Mifune,Machiko Kyô,Masayuki Mori,Takas...",Japanese,Japan,Original title: Rashômon,250000,2.840909e+03
143,Là-haut,2009,Tous publics,96,8.2,78-year-old Carl Fredricksen travels to Paradi...,"Animation,Adventure,Comedy,Drama,Family","Ed Asner,Jordan Nagai,John Ratzenberger,Christ...",English,United States,Original title: Up,175000000,1.822917e+06
162,Le Kid,1921,Tous publics,68,8.3,"The Tramp cares for an abandoned child, but ev...","Comedy,Drama,Family","Charles Chaplin,Edna Purviance,Jackie Coogan,C...","None,English",United States,Original title: The Kid,250000,3.676471e+03
163,Voleur de bicyclette,1948,Tous publics,89,8.3,"In post-war Italy, a working-class man's bicyc...",Drama,"Lamberto Maggiorani,Enzo Staiola,Lianella Care...","Italian,English,German",Italy,Original title: Ladri di biciclette,133000,1.494382e+03
167,The Father,2020,Tous publics,97,8.3,A man refuses all assistance from his daughter...,Drama,"Anthony Hopkins,Olivia Colman,Mark Gatiss,Oliv...",English,"United Kingdom,France",NaN,NaN,NaN
185,Toy Story,1995,Tous publics,81,8.3,A cowboy doll is profoundly threatened and jea...,"Animation,Adventure,Comedy,Family,Fantasy","Tom Hanks,Tim Allen,Don Rickles,Jim Varney,Wal...",English,United States,NaN,30000000,3.703704e+05
186,Reservoir Dogs,1992,16,99,8.3,When a simple jewelry heist goes horribly wron...,"Crime,Drama,Thriller","Harvey Keitel,Tim Roth,Michael Madsen,Chris Pe...",English,United States,NaN,1200000,1.212121e+04
203,Les sentiers de la gloire,1957,(Banned),88,8.4,"After refusing to attack an enemy position, a ...","Drama,War","Kirk Douglas,Ralph Meeker,Adolphe Menjou,Georg...","English,German,Latin",United States,Original title: Paths of Glory,935000,1.062500e+04
204,WALL·E,2008,Tous publics,98,8.4,"In the distant future, a small waste-collectin...","Animation,Adventure,Family,Sci-Fi","Ben Burtt,Elissa Knight,Jeff Garlin,Fred Willa...","English,Hindi",United States,NaN,180000000,1.836735e+06
206,Dr. Folamour ou : Comment j'ai appris à ne plu...,1964,Tous publics,95,8.4,An insane American general orders a bombing at...,"Comedy,War","Peter Sellers,George C. Scott,Sterling Hayden,...","English,Russian",United Kingdom,Original title: Dr. Strangelove or: How I Lear...,1800000,1.894737e+04
210,Le tombeau des lucioles,1988,Tous publics,89,8.5,A young boy and his little sister struggle to ...,"Animation,Drama,War","Tsutomu Tatsumi,Ayano Shiraishi,Akemi Yamaguch...",Japanese,Japan,Original title: Hotaru no haka,3700000,4.157303e+04
211,Les temps modernes,1936,Tous publics,87,8.5,The Tramp struggles to live in modern industri...,"Comedy,Drama,Family,Romance","Charles Chaplin,Paulette Goddard,Henry Bergman...",English,United States,Original title: Modern Times,1500000,1.724138e+04
213,Le Roi Lion,1994,Tous publics,88,8.5,Lion prince Simba and his father are targeted ...,"Animation,Adventure,Drama,Family,Musical","Matthew Broderick,Jeremy Irons,James Earl Jone...","English,Swahili,Xhosa,Zulu",United States,Original title: The Lion King,45000000,5.113636e+05
246,12 Hommes en colère,1957,Tous publics,96,9.0,The jury in a New York City murder trial is fr...,"Crime,Drama","Henry Fonda,Lee J. Cobb,Martin Balsam,John Fie...",English,United States,Original title: 12 Angry Men,350000,3.645833e+03